.bordaLetra {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5) !important;
}

.bordaPadrao {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5) !important;
}

.bordaPerc {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8) !important;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8) !important;
}

.bordaSimples {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.bordaImg{
    padding: 1px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.btnBorda{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0) !important;
}

.bgImg img {
    position: relative !important;
    top: -9999px !important;
}

.bg-dark-transparente {
    background-color: rgba(0, 0, 0, 0.75)
}

.borderTable td{
    /* border-color: rgba(0, 0, 0, 1) !important; */
    border-color: #dc3545 !important;
}

.text-yellow {
    color: rgb(255, 255, 0)
}

.bg-black {
    background-color: #00000050 !important;
}

.card-header.bg-black {
    background-color: rgba(0, 0, 0, 0.80) !important;
}

a.link-hover, a.link-hover2 {
    text-decoration: none !important;
    transition: all ease-in-out 0.3s !important;
	-webkit-transition: .3s all ease-in-out !important;
	-moz-transition: .3s all ease-in-out !important;
	-o-transition: .3s all ease-in-out !important;
}

a.link-hover:hover {
    color: #00799e !important;
    text-shadow: 2px 2px 1px  rgba(255, 255, 255, 0.5) !important;
    transition: all ease-in-out 0.3s;
	-webkit-transition: .3s all ease-in-out !important;
	-moz-transition: .3s all ease-in-out !important;
	-o-transition: .3s all ease-in-out !important;
}

a.link-hover2:hover {
    color: #32d8e4 !important;
    text-shadow: 2px 2px 1px  rgb(0, 0, 0) !important;
    transition: all ease-in-out 0.3s;
	-webkit-transition: .3s all ease-in-out !important;
	-moz-transition: .3s all ease-in-out !important;
	-o-transition: .3s all ease-in-out !important;
}

.popover-content {
    margin: 100px !important;
    padding: 0px !important;
}

.popover-inner {
    padding: 0px !important;
}

.dropdown-menu.dropdown-menu-wide {
    min-width: 100% ;
    text-align: center;
}

.background{
    background-image: url('/image/imgHome3.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;
}
.scroll {
	position:absolute;
	right:10px;
	bottom:0px;
	background: #343a40;
    color:white;
    padding: 15px 20px 15px 20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 100%;
    border: 1px solid red;

}
.scroll:hover {
    background: #000000;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    color: red;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border: 1px solid white;
}

.bg-dark-success {
    /* background-color: #28a745 !important; */
    background-color: #1d7e34 !important;
}

.bg-dark-danger {
    /* background-color: #dc3545 !important; */
    background-color: #8f232e !important;
}
