.bordaLetra {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5) !important;
}

.bordaPadrao {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5) !important;
}

.bordaPerc {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8) !important;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8) !important;
}

.bordaSimples {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.bordaImg{
    padding: 1px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.btnBorda{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0) !important;
}

.bgImg img {
    position: relative !important;
    top: -9999px !important;
}

.bg-dark-transparente {
    background-color: rgba(0, 0, 0, 0.75)
}

.borderTable td{
    /* border-color: rgba(0, 0, 0, 1) !important; */
    border-color: #dc3545 !important;
}

.text-yellow {
    color: rgb(255, 255, 0)
}

.bg-black {
    background-color: #00000050 !important;
}

.card-header.bg-black {
    background-color: rgba(0, 0, 0, 0.80) !important;
}

a.link-hover, a.link-hover2 {
    text-decoration: none !important;
    transition: all ease-in-out 0.3s !important;
	-webkit-transition: .3s all ease-in-out !important;
	-moz-transition: .3s all ease-in-out !important;
	-o-transition: .3s all ease-in-out !important;
}

a.link-hover:hover {
    color: #00799e !important;
    text-shadow: 2px 2px 1px  rgba(255, 255, 255, 0.5) !important;
    transition: all ease-in-out 0.3s;
	-webkit-transition: .3s all ease-in-out !important;
	-moz-transition: .3s all ease-in-out !important;
	-o-transition: .3s all ease-in-out !important;
}

a.link-hover2:hover {
    color: #32d8e4 !important;
    text-shadow: 2px 2px 1px  rgb(0, 0, 0) !important;
    transition: all ease-in-out 0.3s;
	-webkit-transition: .3s all ease-in-out !important;
	-moz-transition: .3s all ease-in-out !important;
	-o-transition: .3s all ease-in-out !important;
}

.popover-content {
    margin: 100px !important;
    padding: 0px !important;
}

.popover-inner {
    padding: 0px !important;
}
